.register-button {
    font-size: 40px;
    text-align: center;
    padding: 36px;
    background-color: var(--secondary-dark);
    color: lightgray;
    text-shadow: 1px 1px gray;
}

.register-button:hover {
    background-color: var(--secondary-normal);
}