.register-button {
    font-size: 48px;
    text-align: center;
    padding: 42px;
    background-color: var(--secondary-dark);
    color: lightgray;
    text-shadow: 1px 1px gray;
    transition-duration: 0.3s;
}

.register-button:hover {
    background-color: var(--secondary-normal);
}