.entry-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title-entry {
    background-color: var(--primary-light) !important;
    color: black !important;
}

.empty-entry {
    display: flex;
    flex: 1;
    padding: 12px;
    margin: 8px;
}

.entry {
    background-color: var(--primary-dark);
    color: black;
    display: flex;
    flex: 1;
    padding: 12px;
    margin: 8px;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.entry-button {
    color: white;
    background-color: green;
}

.accept-order-button {
    color: white;
    background-color: green;
}

.cash-amount-button {
    color: white;
    background-color: green;
}

.cancel-order-button {
    color: white;
    background-color: crimson;
}

.ui-dialog {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ui-dialog-titlebar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: slategrey;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.ui-dialog-title {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: darkslategray;
    color: white;
    padding: 6px;
    margin: 8px;
    flex: 3;
}

.ui-dialog-titlebar-close {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: crimson;
    color: white;
    padding: 6px;
    margin: 8px;
    flex: 1;
}

.ui-dialog-content {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    color: black;
    padding: 12px;
}