:root {
    --primary-light: #FFF;
    --primary-normal: #EEE;
    --primary-dark: #DDD;

    --secondary-light: #444;
    --secondary-normal: #333;
    --secondary-dark: #222;
}

body {
    background-image: url("blured_map.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 94vh;
}

* {
    font-family: 'Manrope', sans-serif;
}

.title {
    text-shadow: 1px 1px #444;
}

.block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 8px;
    padding: 6px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* Main simple layout */
.main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.top-box {
    padding: 0.8vw;
    background-color: var(--primary-light);
}

#title-box {
    font-size: 48px;
}

#subtitle-box {
    font-size: 30px;
}

#content-box {
    background-color: var(--primary-light);
    font-size: 14px;
}

.text-bar {
    background-color: var(--primary-normal);
    color: black;
    text-align: center;
    font-size: 26px;
    margin-top: 4vh;
}

.back-button {
    background-color: var(--secondary-dark);
    color: white;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}

.back-button:hover {
    background-color: var(--secondary-normal);
}

.error {
    background-color: crimson;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 8px;
    padding: 10px;
    display: inline-block;
}

.error::placeholder {
    color: white;
    font-weight: bold;
} 

input, button {
    border: none;
}

.good {
    background-color: green !important;
    color: white !important;
}

.bad {
    background-color: crimson !important;
    color: white !important;
}

.form-label {
    font-size: 18px;
    background-color: var(--secondary-normal);
    padding: 10px;
    color: white;
}

.form-label-2 {
    font-size: 22px;
    background-color: var(--primary-light);
    padding: 12px;
    color: black;
}

@media only screen and (max-device-width: 700px) {
    input, button, select {
        font-size: 32px;
    }
}