:root {
    --primary-light: #EEE;
    --primary-normal: #DDD;
    --primary-dark: #CCC;

    --secondary-light: #444;
    --secondary-normal: #333;
    --secondary-dark: #222;
}

* {
    transition: background-color;
    transition-duration: 1s;
    font-family: 'Manrope', sans-serif;
}

.title {
    text-shadow: 1px 1px #444;
}

.block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 8px;
    padding: 6px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* Main simple layout */
.main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.top-box {
    padding: 0.8vw;
    background-color: var(--primary-light);
}

#title-box {
    font-size: 4vw;
}

#subtitle-box {
    font-size: 2vw;
}

#content-box {
    background-color: var(--primary-normal);
    font-size: 14px;
}

.text-bar {
    background-color: var(--primary-light);
    color: black;
    text-align: center;
    font-size: 32px;
    margin-top: 4vh;
}

.back-button {
    background-color: var(--secondary-dark);
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 4vh;
}

input {
    border: none;
}